/* Basic HTML & Body */
html, body {
	margin: 0;
	padding: 0;
  }
  
  /* Body Preload State */
  body.is-preload *, 
  body.is-preload *:before, 
  body.is-preload *:after {
	animation: none !important;
	transition: none !important;
  }
  
  /* Header */
  #header {
	display: flex;
	background-color: #C8B48A;
	padding: 1.75em 2em;
  }
  #header .title {
	color: #fff;
	font-size: 1.25em;
	font-weight: bold;
	text-decoration: none;
  }
  #header nav {
	flex: 1;
	text-align: right;
  }
  #header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  #header nav ul li {
	display: inline-block;
	margin-left: 1.75em;
  }
  #header nav ul li:first-child {
	margin-left: 0;
  }
  #header nav ul li a {
	color: rgba(255, 255, 255, 0.35);
	font-size: 0.6em;
	font-weight: bold;
	letter-spacing: 0.25em;
	text-transform: uppercase;
	text-decoration: none;
  }
  #header nav ul li a:hover {
	color: rgba(255, 255, 255, 0.55);
  }
  #header nav ul li a.active {
	color: #fff;
  }
  
  /* Wrapper & Main Section */
  #wrapper {
	width: 100vw;
	min-height: 100vh;
  }
  .wrapper {
	position: relative;
  }
  .wrapper > .inner {
	max-width: 75em;
	margin: 0 auto;
	padding: 5em;
  }
  h1.major {
	font-size: 2.75em;
	font-weight: bold;
	margin-bottom: 1.3em;
	position: relative;
	padding-bottom: 0.35em;
  }
  h1.major:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	height: 0.05em;
	width: 100%;
	background-image: linear-gradient(to right, #FAEDCA, #C1DBB3);
  }
  
  /* Image Fit */
  .image.fit img {
	display: block;
	width: 100%;
	height: auto;
  }
  
  /* Footer */
  #footer.wrapper.alt {
	background-color: #00AfB9;
	padding: 2em 0;
  }
  #footer .inner {
	max-width: 75em;
	margin: 0 auto;
	text-align: center;
  }
  #footer .menu {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  #footer .menu li {
	display: inline;
	margin: 0 0.5em;
  }
  #footer .menu a {
	color: rgba(255, 255, 255, 0.15);
	text-decoration: none;
  }
  #footer .menu a:hover {
	color: rgba(255, 255, 255, 0.35);
  }